.AppNavbar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 2;
    &Name {
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
    }
    &Menu {
        align-items: center;
        justify-content: center;
    }
    &List {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }
    &Link {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        letter-spacing: 2px;
        text-decoration: none;
        &:hover {
            color: #fff;
            text-shadow: 0px 0px 10px #000;
            transition: 0.3s;
        }
        &Active {
            color: rgba(255, 255, 255, 1);
            font-size: 20px;
            letter-spacing: 2px;
            text-decoration: underline;
            transition: 0.5s;
        }
    }
}
